<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TipProf.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F04EA8A41E77580700C8116C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F04EA8B81E77580700C8116C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F04EA8C31E77580700C8116C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
